body {
  color: #333;
  font-family: 'Overlock', cursive;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.7;
}

.bmi-app {
  background: linear-gradient(
    to right bottom,
    rgba(19, 245, 245, 0.8),
    rgba(5, 238, 25, 0.7)
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 70vw;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.cards__flex {
  flex: 0 1 45%;
}

.cards__bmi-input-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  padding: 20px;
}

.cards__bmi-image-result {
  flex: 2 1;
  padding: 20px;
}

/** CARD 1 **/
#form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#form > * {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 20px;
}

.user-inputs {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 17px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  letter-spacing: 0.25px;
  caret-color: rgba(0, 0, 0, 0.8);
}

input::-webkit-input-placeholder {
  font-size: 15px;
}
#height {
  margin-bottom: 20px;
}

button {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  outline: 0;
  border: none;
  background: rgba(40, 80, 80, 0.4);
  color: white;
  box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 0.75);
}
.card__bmi-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* background: rgba(19, 202, 202, 0.4); */
  background: rgba(40, 80, 80, 0.4);
  border: 1.6px solid white;
  border-radius: 20px;
  padding: 12px 30px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.info-icon {
  align-self: center;
  font-size: 2.5rem;
  position: relative;
  left: -2.4%;
}

.card__bmi-range {
  padding: 0;
}

/** CARD 2 **/
.cards__bmi-image-result {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards__bmi-image {
  width: 100%;
}
.cards__bmi-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card__bmi-result {
  color: white;
  background: rgba(19, 202, 202, 0.6);
  background: #28505099;
  width: 100%;
  padding: 25px 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 30px;
  box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 0.75);
}

.result-ribbon {
  display: inline-block;
  padding: 12px;
  background: rgba(5, 238, 25, 0.8);
  /* background: #77f47b; */
  border: 1.6px solid #fff;
  border-radius: 50%;
  margin-left: 30px;
}

/* MEDIA QUERY */

@media (max-width: 700px) {
  .cards {
    margin-top: 5vh;
  }
  .cards__bmi-image-result {
    order: 1;
  }
  .cards__bmi-input-info {
    order: 2;
  }
  .result-ribbon {
    margin-left: 0;
  }
}
